*,*::after, *::before {box-sizing: border-box;}

header ,footer { color: #ffff0e; }

header,footer { background: #220c0c; }

header,footer { padding: 15px; }

span { color: #e91e63; font-size: 35px;}

header h1 {font-size: clamp(8px,2vw,15px);}

header {min-height: 60px;}

.spacing { letter-spacing: 6px;} 

.font-size_sm { font-size: clamp(12px,2vw,15px); }

.line-height { line-height: 2.2; }

img { display: block; max-width: 100%;object-fit: cover;}

body {display: grid; font-weight: 700; font-family: arial; margin: 0; text-align: center; background: #1a240e; color: #eee;}

.hero {display: grid; color: #fff; min-height: calc(100vh - 60px);}

.hero > * { grid-column: 1 / 2; grid-row: 1 / 2; }

.hero_img {display: flex;}

.hero_img picture {display: flex;}

.hero_info {align-self: center;}

.hero_info p { color: #ffeb3b; }

main { display: grid; gap: 20px; width: 95%; margin: 20px auto;}

main h2 { font-size: clamp(15px,3vw,20px);padding: 10px; }

.card { display: grid; box-shadow: 0 0 15px #ababab; padding: 30px; background: #5c6c5e; }

.card_img img { width: clamp(70px,10vw,75px); margin: auto; border-radius: 50%;}

.card_info a { color: inherit; font-size: clamp(12px,3vw,15px);}

.card_info a:hover { color: #ff833b;}

aside { padding: 15px; box-shadow: 0 0 15px #b53a3a; background: #704242;}

@media (min-width: 630px) and (max-width: 1090px){
    .content {
        display: grid;
        
    }

    main {
        grid-template-columns: 1.5fr 1fr;
    }
}

@media (min-width: 1090px){
    .content {
        display: grid;
    }

    main {
        margin: 20px 0;
        grid-template-columns: 1fr 5fr 3fr 1fr;
    }

    main .content {
        grid-column: 2;
        display: flex;
        flex-direction: column;
    }

    main h2 {
        margin: 0 0 5px 0;
    }

    .card {
        padding: 10px;
        background: #5c6c5e;
        grid-auto-flow: column;
        gap: 20px;
        flex: 1;
    }

    .card_img {
        padding: 5px;
    }

    .card_img img {
        border-radius: 0;
    }

    .card_info {
        text-align: start;
    }
}


